.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: $tablet) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.header__nav {
  display: flex;
  margin-left: 88px;

  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.header__nav-item:not(:last-child) {
  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 32px;
  }
}

.header__nav .header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-link {
  @media screen and (min-width: $tablet) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: $tablet - 1px) {
    font-size: 40px;
    line-height: 1.18;
  }
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__cont-link:hover,
.header__cont-link:focus {
  color: var(--accent-color);
}

.header__cont-list {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }
  @media screen and (max-width: $desktop - 1px) {
    flex-direction: column;
  }
}

.header__cont-list .header__cont-item:not(:last-child) {
  @media screen and (max-width: $desktop - 1px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.header__cont-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .header__cont-icon {
    fill: var(--accent-color);
  }
}

.header__cont-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mobile-menu-but {
  background-color: transparent;
  cursor: pointer;
  line-height: 0px;
  border: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  &:hover .header__mobile-menu-icon,
  &:focus .header__mobile-menu-icon {
    fill: var(--accent-color);
  }
}

.header__mobile-menu-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
