.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  margin-left: 93px;
}

.header__nav .header__nav-item:not(:last-child) {
  margin-right: 40px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__cont-link:hover,
.header__cont-link:focus {
  color: var(--accent-color);
}

.header__cont-list {
  display: flex;
  margin-left: auto;
}

.header__cont-list .header__cont-item:not(:last-child) {
  margin-right: 50px;
}

.header__cont-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__cont-icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__cont-link:hover .header__cont-icon {
  fill: var(--accent-color);
}
