.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  text-transform: uppercase;
  color: var(--primary-title-color);
  text-align: center;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  @media screen and (min-width: $desktop) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    
  }
}

.hero__section {
  padding-top: 200px;
  padding-bottom: 200px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media screen and (max-width: $desktop - 1px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }


  background-size: 480px 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-mobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-mobile@2x.jpg);
    }

  @media screen and (min-width: $tablet) {
    background-size: 768px 400px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    background-size: 1600px 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-bg-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-bg-desktop@2x.jpg);
    }
  }
}
