.filter-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    justify-content: center;
  }

  margin-bottom: -15px;
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.potfolio_container {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.ptf__list {
  margin-top: 40px;
  @media screen and (min-width: $tablet) {
    margin-top: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 50px;
  }
  margin-bottom: -30px;
  margin-right: -30px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.ptf__list .ptf__item {
  margin-right: 30px;
  margin-bottom: 30px;

  width: calc(100% - 30px);
  @media screen and (min-width: $tablet) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 3);
  }
}

.pft__photo {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.portfolio__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.ptf__textcont {
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.ptf__item:first-child .portfolio__link .ptf__textcont{
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    padding-bottom: 56px;
  }
  
}

.ptf__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.ptf__subtitle {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.ptf__descr {
  font-size: 13px;
  @media screen and (min-width: 325px) {
    font-size: 4vw;
  }
  @media screen and (min-width: $mobile) {
    font-size: 18px;
  }
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.ptf__img-cont {
  position: relative;
  overflow: hidden;
}

.ptf__descr-cont {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  transform: translateY(100%);
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .ptf__descr-cont,
.portfolio__link:focus .ptf__descr-cont {
  transform: translateY(0);
}
