.our-works__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.our-works__section {
  padding-bottom: 94px;
}

.our-works__list {
  margin-right: -30px;
  display: flex;
}

.our-works__item {
  position: relative;
}

.our-works__list .our-works__item {
  margin-right: 30px;
  width: 370px;
}


