.footer__form-cont {
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
    margin-right: 0;
  }
}

.footer__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  @media screen and (min-width: $tablet) {
    width: 450px;    
  }
  @media screen and (min-width: $desktop) {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0;
  }
  
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--third-text-color);
  outline: none;
}

.footer__form-cont .btn {
  display: flex;
  align-items: center;

  margin: 0 auto;
  @media screen and (min-width: $desktop) {
    margin: 0;
  }

  padding-left: 29px;
  padding-right: 28px;
}

.footer__form-cont .btn svg {
  margin-left: 10px;
}
