.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.up-logo {
  color: var(--logo-text-color);
}

.down-logo {
  color: var(--primary-title-color);
}

.logo-span {
  color: var(--accent-color);
}
