:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
  --secondary-accent-color: #188ce8;
  --third-text-color: #ffffff;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --font-family: "Roboto", sans-serif;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;